# SPDX-FileCopyrightText: The nomad-north-mpes-igor Authors
#
# This file is part of nomad-north-mpes-igor.
#
# SPDX-License-Identifier: MIT

[Desktop Entry]
Version=1.0
Type=Application
Name=igor workdir setup
Comment=
Exec="/home/jovyan/.config/autostart/igor-workdir-setup"
Icon=
Path=/home/jovyan
Terminal=false
StartupNotify=false
